@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Oswald:wght@200;300;400;500;600;700&display=swap');

@font-face {
  font-family: FatFont;
  src: url('../../../fonts/FREEFATFONT-Slanted.woff');
}

@font-face {
  font-family: FatFont2;
  src: url('../../../fonts/FREEFATFONT-Regular.woff');
}

.headerSection {
  position: relative;
  height: 750px;
  width: 100%;
  margin-top: 80px;
}

.animated__line {
  position: absolute;
  top: 0;
}

.headerSection__content {
  position: relative;
  width: 1160px;
  height: 100%;
  margin: 0 auto;
}


.headerSection__text {
  position: absolute;
  bottom: 0;
  width: 550px;
  height: max-content;

  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 122px;

  animation-duration: 2.5s;

  .inner__text_transform {
    margin-left: 30px;
    display: inline-block;
    transform: rotate(10deg);
  }
}

.headerSection__text_animation:hover {
  animation-name: scaleText;
  animation-timing-function: ease;

  .inner__text_transform {
    animation: rotateText ease 2.3s;
  }
}

.inner__text {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  padding: 0 10px;
  border-radius: 9px;

  font-family: 'Oswald', sans-serif;
  background-color: #BAFD37;
  font-style: normal;
  font-weight: 500;
  font-size: 90px;
  line-height: 100px;

  color: #000000;
}

.inner__text_appendix {
  position: relative;
  left: -13px;
  top: -25px;
}

.background__mask {
  position: absolute;
  width: 500px;
  right: 60px;
  top: -30px;

  font-family: FatFont, cursive;
  font-size: 390px;
  line-height: 0.65;

  background-size: auto 750px;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;

  pointer-events: none;

  transition: background-image 1s linear;
}




@media (max-width: 1400px) {
  .headerSection {
    height: max-content;
    width: 400px;
    margin-top: 40px;
  }

  .animated__line {
    display: none;
  }

  .headerSection__content {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 80px auto 0;
  }

  .background__mask {
    margin-top: 120px;
    position: relative;
    width: 400px;
    left: 0;
    text-align: center;
    font-family: FatFont2, cursive;
    font-size: 280px;

    background-size: auto 550px;
  }


  .headerSection__text {
    position: relative;
    width: 100%;
    margin-top: 60px;
    font-size: 70px;
    line-height: 80px;
    text-align: center;

  }

  .headerSection__text_animation:hover {
    animation-name: bellsText;
    animation-timing-function: ease-in-out;

    .inner__text_transform {
      animation: rotateText ease 2.3s;
    }
  }

  .inner__text {
    padding: 0 6px;

    font-size: 60px;
    line-height: 100px;

  }

  .inner__text_appendix {
    position: relative;
    left: -13px;
    top: -25px;
  }
}

@keyframes scaleText {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bellsText {
  0% {
    transform: rotate(0);
  }
  12.5% {
    transform: rotate(10deg);
  }
  37.5% {
    transform: rotate(-10deg);
  }
  62.5% {
    transform: rotate(10deg);
  }
  87.5% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }


}

@keyframes rotateText {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(220deg);
  }
  100% {
    transform: rotate(370deg);
  }
}

