@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
@import url('https://fonts.googleapis.com/css?family=Chivo:900');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');



.page {
  width: 1350px;
  margin: 50px auto 200px;
  overflow: hidden;
  position: relative;
  background-color: #E1E3E9;
  box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.25);
  padding-bottom: 150px;


}



